/* CSS Document */


*
{
	margin:0px;
	padding:0px;}
body
{
	
	background-color:#FFF;
	background-image:url(../img/abc.png);
	background-repeat:no-repeat;
	width:100%;
	height:auto;
	margin:auto;
	
	}
.content
{
	padding-top:220px;
	margin:auto;
	width:400px;
	
	
	
	}



